<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOPPER MARIO</title>
        
        <!-- ENLACES DE DISEÑO E ICONOS -->
        <link rel="shortcut icon" href="img/iconoRedondo.png" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
    </head>
    <body id="panelAdmin">
        <aside>
            <button onclick="window.location.href='dashboard.html'"><h3>DASHBOARD</h3></button>
            <button onclick="window.location.href='modificar.html'"><h3>PERSONAJES</h3></button>
            <button><h3>IMAGENES</h3></button>
            <button><h3>OBJETOS</h3></button>
            <button onclick="window.location.href='verDialogos.html'"><h3>DIÁLOGOS</h3></button>
            <button><h3>RANKING</h3></button>
        </aside>
        <main>
                <section id="dashboard">
                  <h3>Bienvenido, Administrador</h3>
                  <p>Último inicio de sesión: 01/12/2024 a las 18:30</p>
                  <div id="statistics">
                      <div class="stat">
                          <h4>Último jugador conectado:</h4>
                          <p>Jugador 3</p>
                      </div>
                      <div class="stat">
                          <h4>Media de tiempo de las partidas:</h4>
                          <p>15 minutos</p>
                      </div>
                      <div class="stat">
                          <h4>Partidas jugadas hoy:</h4>
                          <p>32 partidas</p>
                      </div>
                      <div class="stat">
                          <h4>Total de jugadores registrados:</h4>
                          <p>128 jugadores</p>
                      </div>
                  </div>
                  <button onclick='window.location.href="inicioSesion.html"' id="buttonLogout">
                    Cerrar sesión
                  </button>
                </section>
        </main>
    </body>
</html>
