<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOOPER MARIO</title>

        <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body>
        <main>
            <h1>
                <span>S</span><span>H</span><span>O</span><span>P</span><span>P</span><span>E</span><span>R</span>
                <span>M</span><span>A</span><span>R</span><span>I</span><span>O</span>
            </h1>
            <h2>JUGAR</h2>
            <h3><a href="rankings.html">RANKINGS</a></h3>
            <a href="inicioSesion.html" id="admin"><img src="../../img/personajeSaludo.png"></img></a>
        </main>
        <!-- <script src="admin.js"></script> -->
    </body>
</html>
