<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOPPER MARIO</title>
        
        <!-- ENLACES DE DISEÑO E ICONOS -->
        <link rel="shortcut icon" href="img/iconoRedondo.png" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
    </head>
    <body>
      <main>
                <section id="panelModificar">
                    <h3>MODIFICAR</h3>
                    
                    <label for="selectModificar">Tipo de elemento:</label>
                    <select id="selectModificar" name="tipoElemento">
                        <option value="jugador">Jugador</option>
                        <option value="npc">NPC</option>
                        <option value="objeto">Objeto</option>
                        <option value="enemigo">Enemigo</option>
                    </select>
                    
                  <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Imágenes</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jugador 1</td>
                            <td>Un valiente héroe del reino</td>
                            <td>
                              <div class="img-container">
                                <img src="../../img/personajeSaludo.png">
                                <img src="../../img/pj2.2-walk1(1).png">
                                <img src="../../img/pj2.2-base.png">
                              </div> 
                            </td>
                            <td><button class="btn-modificar">Modificar</button></td>
                        </tr>
                        <tr>
                          <td>Jugador 2</td>
                            <td>Un feroz guerrero</td>
                            <td>
                              <div class="img-container">
                                <img src="../../img/pj1-win.png">
                              </div> 
                            </td>
                            <td><button class="btn-modificar">Modificar</button></td>
                        </tr>
                        <tr>
                            <td>Jugador 3</td>
                            <td>Un caballero renegado</td>
                            <td>
                               <div class="img-container">
                                <img src="../../img/pj2.1-back.png">
                                <img src="../../img/pj2.1-crouch.png">
                               </div>
                            </td>
                            <td><button class="btn-modificar">Modificar</button></td>
                        </tr>
                    </tbody>
                  </table>
                    <button type="button" onclick='window.location.href= "panelAdmin.html"'>Volver</button>
                </section>
                
      </main>
    </body>
</html>
