<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOPPER MARIO</title>
        
        <!-- ENLACES DE DISEÑO E ICONOS -->
        <link rel="shortcut icon" href="img/iconoRedondo.png" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
    </head>
    <body>
        <main>
            <h1>
                <span>P</span><span>A</span><span>N</span><span>E</span><span>L</span>
                <span>A</span><span>D</span><span>M</span><span>I</span><span>N</span>
            </h1>
            <section id="panelAdmin">
              <button onclick='window.location.href="insertar.html"'>
                   <h3>INSERTAR</h3>
                </button>
              <button onclick='window.location.href="modificar.html"'>
                    <h3>MODIFICAR</h3>
                </button>
                <button>
                    <h3>BORRAR</h3>
                </button>
                <button>
                    <h3>VISUALIZAR</h3>
                </button>
            </section>
            <a class="volver" href="inicioSesion.html">Salir</a>
        </main>
    </body>
</html>
