<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOPPER MARIO</title>
        
        <!-- ENLACES DE DISEÑO E ICONOS -->
        <link rel="shortcut icon" href="img/iconoRedondo.png" type="image/x-icon">
        <link rel="stylesheet" href="../../css/style.css" type="text/css">
    </head>
    <body id="panelAdmin">
       <aside>
            <button onclick="window.location.href='dashboard.html'"><h3>DASHBOARD</h3></button>
            <button onclick="window.location.href='modificar.html'"><h3>PERSONAJES</h3></button>
            <button><h3>IMAGENES</h3></button>
            <button><h3>OBJETOS</h3></button>
            <button onclick="window.location.href='verDialogos.html'"><h3>DIÁLOGOS</h3></button>
            <button><h3>RANKING</h3></button>
        </aside> 
        <main>
            <section>



                
                <button onclick='window.location.href="index.html"' id="buttonLogout">
                    <h3>CERRAR SESIÓN</h3>
                </button>
            </section>
        </main>
    </body>
</html>
