<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOOPER MARIO</title>

        <link rel="stylesheet" href="../../css/style.css">
    </head>
    <body>
        <main>
            <h1>
                <span>R</span><span>A</span><span>N</span><span>K</span><span>I</span><span>N</span><span>G</span>
                <span>(</span><span>T</span><span>O</span><span>P</span><span>1</span><span>0</span><span>)</span>
            </h1>
            <table id="ranking">
                <thead>
                    <tr>
                        <th><h3>PUESTO</h3></th>
                        <th><h3>NOMBRE</h3></th>
                        <th><h3>PUNTOS</h3></th>
                        <th><h3>TIEMPO</h3></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ASD</td>
                        <td>1200</td>
                        <td>2:20:00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>XYZ</td>
                        <td>1100</td>
                        <td>1:50:00</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>AGD</td>
                        <td>1000</td>
                        <td>3:00:00</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>QWE</td>
                        <td>1000</td>
                        <td>2:40:00</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>RTY</td>
                        <td>900</td>
                        <td>2:00:00</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>FGH</td>
                        <td>850</td>
                        <td>2:30:00</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>ZXC</td>
                        <td>800</td>
                        <td>1:55:00</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>VBN</td>
                        <td>750</td>
                        <td>3:20:00</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>JKL</td>
                        <td>700</td>
                        <td>2:50:00</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>IOP</td>
                        <td>600</td>
                        <td>3:15:00</td>
                    </tr>
                </tbody>
            </table>
            <a class="volver" href="introJuego.html">Volver</a>

        </main>
        <!-- <script src="admin.js"></script> -->
    </body>
</html>
